* {
  outline: none;
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
  touch-action: manipulation;
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: bottom;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, 
button, 
textarea, 
select {
  font-family: sans-serif;
  resize: none;
  font-size: sans-serif;
  font-weight: 400;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}
