:root {
  --color: #cccccc;
  --color-second: #949494;
  --elem:#ffffff33;
  --bcg: #212527;
  --bcg-second: #2a2f31;
}
.dark-mode {
  --color: #242424;
  --color-second: #838383;
  --elem:#47474733;
  --bcg: rgb(255, 255, 255);
  --bcg-second: rgb(224, 224, 224);
}

.app{
  background-color: var(--bcg);
  height: 100vh !important;
  color: var(--color-second);
}
.wrapper{
  display: flex;
  height: calc(100% - 64px);
}
.wrap{
  width: 80%;
  background-color: var(--bcg-second);
}