$gutter-site: 20px;
$container: 1200px + ($gutter-site * 2);
$container-slim: 1030px;
$gutter: 10px;
$gutter-wide: 25px;

// $link: #313A47;
$link-hover: #ff0000;
$color: #313A47;
$size: 16px;
$font: Circe, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$xl: 1300px;
$lg: $container;
$md: 1023px;
$sm: 767px;
$xs: 600px;

@mixin hidden() {
   display: none;
}

@mixin visible($block: block) {
   display: $block;
}

@mixin absolute() {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
}

@mixin center() {
   justify-content: center;
   align-items: center;
}

@mixin breakpoint($point) {
   @if $point == xl {
      @media (max-width: $xl) {
         @content ;
      }
   } @else if $point == lg {
      @media (max-width: $lg) {
         @content ;
      }
   } @else if $point == md {
      @media (max-width: $md) {
         @content ;
      }
   } @else if $point == sm {
      @media (max-width: $sm) {
         @content ;
      }
   } @else if $point == xs {
      @media (max-width: $xs) {
         @content ;
      }
   }
}

@mixin breakpoint-min($point) {
   @if $point == xl {
      @media (min-width: ($xl + 1)) {
         @content ;
      }
   } @else if $point == lg {
      @media (min-width: ($lg + 1)) {
         @content ;
      }
   } @else if $point == md {
      @media (min-width: ($md + 1)) {
         @content ;
      }
   } @else if $point == sm {
      @media (min-width: ($sm + 1)) {
         @content ;
      }
   } @else if $point == xs {
      @media (min-width: ($xs + 1)) {
         @content ;
      }
   }
}
