<template>
  <div class="main" @click="theme">
    нажми на текст что бы сменить тему
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'

export default Vue.extend({
  name: 'IndexPage',
  methods: {
    theme () {
      if (this.$colorMode.preference !== 'dark') {
        this.$colorMode.preference = 'dark'
      } else {
        this.$colorMode.preference = 'light'
      }
    }
  }
})
</script>
<style lang="scss">
</style>
