<template>
  <div class="signin">
    signin or login
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'

export default Vue.extend({
  // установление шаблона для страницы
  layout: 'signin'
})
</script>
