<template>
  <div class="catalog">
    Каталог id {{ path }}
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'

export default Vue.extend({
  computed: {
    path () {
      return this.$route.params.id
    }
  }
})
</script>
<style lang="scss">
</style>
