<template>
  <div class="sidebar">
    <div class="sidebar-header">
      Название:
    </div>
    <div class="sidebar-items">
      <div class="sidebar-item">
        Блок контента
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({

})
</script>

<style lang="scss" scoped>
.sidebar{
  width: 20%;
  height: 100%;
  .sidebar-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    color: var(--color);
    border-bottom: 2px solid;
  }
  .sidebar-item{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid;
    margin-bottom: 5px;
    cursor: pointer;
  }
}
</style>
