<template>
  <div class="symbols">
    <svg xmlns="http://www.w3.org/2000/svg">
      <!-- PULS -->
      <symbol id="icon-plus" viewBox="0 0 22 22">
        <path
          d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path d="M11 7V15" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M7 11H15" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </symbol>
      <!-- DEL -->
      <symbol id="icon-del" viewBox="0 0 22 22">
        <path d="M2 5H4H20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M7 5V3C7 2.46957 7.21071 1.96086 7.58579 1.58579C7.96086 1.21071 8.46957 1 9 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V5M18 5V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H6C5.46957 21 4.96086 20.7893 4.58579 20.4142C4.21071 20.0391 4 19.5304 4 19V5H18Z"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </symbol>
    </svg>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({})
</script>

<style lang="scss" scoped>
.symbols {
  position: absolute;
  width: 0;
  height: 0;
  display: none;
}
</style>
