<template>
  <div class="header">
    <!-- Header logotype -->
    <div class="header-logotype">
      Логотип
    </div>
    <!-- Header content -->
    <div class="hedaer-content">
      <div class="hedaer-content_options">
        <!--search-->
        <div class="header-options_search">
          <ui-input
            v-model="form.task"
            placeholder="Поиск задачи по номеру"
            required
            class="header-search__input"
          />
        </div>
        <!--options-->
        <div class="header-options_items">
          <div class="header-options_item options_new-task">
            <!-- Использование symbols: -->
            <svg class="header-list__icon">
              <use xlink:href="#icon-plus" />
            </svg>
            <span>
              Блок
            </span>
          </div>
          <div class="header-options_item options_fillters">
            <span>
              Блок
            </span>
          </div>
          <div class="header-options_item options_alerts">
            <span>
              Блок
            </span>
          </div>
          <div class="header-options_item options_wiki">
            <span>
              Блок
            </span>
          </div>
        </div>
      </div>
      <!--user-->
      <div class="hedaer-content_user">
        <div class="header-user_info">
          <div class="hedaer-content_user_name">
            Название
          </div>
          <div class="hedaer-content_user_nickname">
            Описание
          </div>
        </div>
        <div class="header-user-photo">
          <img src="#" alt="">
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data () {
    return {
      form: {
        task: ''
      }
    }
  },
  watch: {
    'form.task' () {
      console.log(this.form.task)
    }
  }

})
</script>

<style lang="scss">
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  .header-logotype{
    padding: 16px 15px;
    width: 20%;
  }
  .hedaer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
  }
}
// Функционал шапки
.hedaer-content_options{
  display: flex;
  align-items: center;
  width: 80%;
}
// Поиск
.header-options_search {
  display: flex;
  position: relative;
  width: 30%;
  .header-search__input{
    width: 100%;

    input{
      width: 100%;
      height: 40px;
      display: block;
      color: var(--color);
      background: var(--elem);
      border-radius: 2px;
      font-size: 14px;
      padding: 0 50px 0 15px;
      border: none;
    }
  }
  .header-search__input:focus {
    box-shadow: 0 0 0 2px var(--color);
  }
  .header-search__input::placeholder {
    color: var(--color)
  }
  .header-search__button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    cursor: pointer;
    background: transparent;
  }
  svg{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
    display: block;
    stroke: var(--color-second);
    fill: transparent;
  }
}
.header-options_items{
  display: flex;
  .header-options_item{
    display: flex;
    margin-left: 30px;
    cursor: pointer;
    .header-list__icon {
      width: 18px;
      height: 18px;
      margin-right: 5px;
      display: block;
      fill: transparent;
      stroke: #fff;
  }
  }
  .options_new-task{
    color: rgb(33, 150, 72);
    .header-list__icon{
      stroke: rgb(33, 150, 72);
    }
  }
  .options_fillters{
    color: rgb(150, 163, 35);
    .header-list__icon{
      stroke: rgb(150, 163, 35);
    }
  }
  .options_alerts{
    color: rgb(163, 97, 35);
    .header-list__icon{
      stroke: rgb(163, 97, 35);
    }
  }
  .options_wiki{
    color: rgb(170, 170, 170);
    .header-list__icon{
      stroke: rgb(170, 170, 170);
    }
  }
}
// Пользователь
.hedaer-content_user{
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 20%;
  .header-user_info{
    margin-right: 10px;
    .hedaer-content_user_nickname{
      color: var(--color)
    }
  }
  .header-user-photo{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: rgba(252, 0, 0, 0.39);
  }
}
</style>
