<template>
  <!-- ui компоненты обьясняются глобально в плагине common и подключаются в nuxt.config -->
  <div class="input-block" :class="{ error: !isValid&&startValidate }">
    <div v-if="label" class="input-text">
      <span class="input-label">{{ label }}</span><span v-if="required" class="red">*</span>
      <span v-if="localErrors.length&&startValidate" class="input-error">{{ errorText }}</span>
    </div>
    <input
      v-if="element === 'input'"
      v-model="localValue"
      :type="type"
      :class="[isValid&&startValidate&&!disabled ? 'valid' : '','input']"
      :placeholder="placeholder"
      :valid="isValid"
      :readonly="disabled"
      @blur="blurInput"
    >
    <textarea
      v-if="element === 'textarea'"
      v-model="localValue"
      class="input textarea"
      :placeholder="placeholder"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Model, Watch } from 'nuxt-property-decorator'
import { AsYouType } from 'libphonenumber-js'

const MODEL_EVENT = 'input'

enum ElementTypes {
  input = 'input',
  textarea = 'textarea'
}
/**
 * * Компонент текстового ввода
 */
@Component({
  name: 'UiInput'
})
export default class TextInput extends Vue {
  /**
   * * Входящее значение
   */
  @Model(MODEL_EVENT, { type: String, default: '' }) readonly value!: string

  /**
   * * Тип элемента ввода
   * по-умолчанию - input
   */
  @Prop({ default: 'input' }) element!: ElementTypes

  /**
   * * Тип элемента для ввода
   */
  @Prop({ default: 'text' }) type!: string

  /**
   * * Заголовок
   */
  @Prop({ default: '' }) label!: string
  /**
   * * Валидатор
   */
  @Prop({ default: () => [] }) validator!: (value: any) => Array<string>
  /**
   * * Заместитель
   */
  @Prop({ default: '' }) placeholder!: string
  /**
   * * Входящире ошибки из родительского компонента
   */
  @Prop({ default: () => [], type: Array }) errors!: Array<string>
  /**
   * * Поле требуется?
   */
  @Prop({ default: false, type: Boolean }) required!: boolean
  /**
   * * Активность поля
   */
  @Prop({ default: () => false, type: Boolean }) disabled!:boolean

  /**
   * * Локальное значение
   */
  localValue = this.value

  /**
   * Флаг начала валидации
   */
  startValidate = false

  /**
   * * Список ошибок
   */
  get localErrors (): Array<string> {
    if (typeof this.validator !== 'function') {
      return this.errors
    }
    return [...this.errors, ...this.validator(this.value)]
  }

  get isValid (): boolean {
    return this.localErrors.length < 1
  }

  /**
   * * Итоговый текст ошибки
   */
  get errorText () {
    return this.localErrors.join(', ')
  }

  blurInput () {
    this.startValidate = true
    this.$emit('ui-blur')
  }

  @Watch('errors', { deep: true, immediate: false })
  changeExtErrors (newVal: Array<string>) {
    if (newVal.toString() && this.label !== 'Повторите пароль' && this.label !== 'Повторите новый пароль') {
      this.startValidate = true
    }
  }

  /**
   * * Событие изменения локального значения
   */
  @Watch('localValue')
  onLocalValueChange (newValue: string, oldValue: string) {
    if (newValue === oldValue) {
      return
    }

    if (newValue && this.type === 'phone') {
      if (newValue === '8' || newValue === '+7') {
        this.localValue = '+7'
      }
      const val = new AsYouType('RU')
      val.input(newValue)
      this.$emit(MODEL_EVENT, val.getNumber()?.number)
      return
    }
    this.$emit(MODEL_EVENT, newValue)
  }

  /**
   * * События изменения значения
   */
  @Watch('value')
  onValueChange (newValue: string, oldValue: string) {
    if (newValue === oldValue) {
      return
    }
    if (this.type === 'phone') {
      if (newValue === '8' || newValue === '+7') {
        this.localValue = '+7'
        return
      }
      const val = new AsYouType('RU')
      val.input(newValue.toString())
      this.localValue = val.getNumber()?.formatInternational() as string
      return
    }
    this.localValue = newValue
  }
}
</script>
