<template>
  <div class="app">
    <!-- Header -->
    <ui-header />
    <!-- Content -->
    <div class="wrapper">
      <!-- Svg symbols -->
      <ui-symbols />
      <!-- Menu projects -->
      <ui-sidebar />
      <!-- Main -->
      <div class="wrap">
        <main>
          <nuxt />
        </main>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import uiSymbols from '~/components/ui/symbols/ui-symbols.vue'
import uiHeader from '~/components/ui/header/ui-header.vue'
import uiSidebar from '~/components/ui/sidebar/ui-sidebar.vue'

export default Vue.extend({
  components: { uiSymbols, uiHeader, uiSidebar }
})
</script>
