<template>
  <div class="wrap">
    404
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    error: {
      type: Object,
      required: true
    }
  }
})
</script>
